{
    "tabWidth": 4,
    "semi": true,
    "printWidth": 200,
    "singleQuote": false,
    "overrides": [
        {
            "files": "*.wxml",
            "options": { "parser": "html" }
        }
    ]
}
