.timer-block {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.top {
    margin: 20rpx;
    .disruption {
        text-align: center;
        line-height: -50rpx;
        font-size: 36rpx;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        .btn {
            padding: 2px;
            border-radius: 10rpx;
        }

        .btn:active {
            background-color: rgba(0, 0, 0, 0.25);
        }

        .right,
        .left {
            display: flex;
        }

        .right .btn:not(:last-child) {
            margin-right: 20rpx;
        }
        .left .btn:not(:first-child) {
            margin-left: 20rpx;
        }
    }
}

.clock {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    .inspection {
        position: relative;
        .inspection-text {
            position: absolute;
            top: -80rpx;
            width: 100%;
            text-align: center;
            font-size: 36rpx;
        }
        .time-left {
            font-size: 180rpx;
        }
    }
}

.tools,
.top {
    z-index: 20;
}

.cube {
    margin-bottom: 20rpx;
    padding: 10rpx;
}
