@border-radius: 20rpx;

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rpx;
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
    background-color: rgba(255, 255, 255, 0.5);
    .left {
        position: absolute;
        left: 32rpx;
        // background-color: blue;
    }

    .cube-and-group {
        font-size: 30rpx;
        // background-color: red;
    }
}
