@border-radius: 20rpx;

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
    background-color: rgba(255, 255, 255, 0.5);
    .left {
        position: absolute;
        left: 32rpx;
        .setting-icon {
            margin-right: 25rpx;
        }
    }

    .cube-and-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50rpx;
        .cube-type {
            width: fit-content;
            position: relative;
            .cube-type-name {
                display: inline-block;
                font-size: 34rpx;
            }
            .switch-group-icon {
                position: absolute;
                right: -40rpx;
                bottom: -5rpx;
            }
        }
        .current-group {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba(0, 0, 0, 0.6);
            font-size: 25rpx;
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
